body {
  font-family: 'Slabo 27px', serif;
  height: 100%;
}

// DONT USE H4 AGAIN! REASSIGN IF YOU MUST
h4 {
  cursor: pointer;
  font-family: 'Slabo 27px', serif;
}

h4:hover {
  text-decoration: underline;
}
