.button {
  padding: 7px 15px 7px 15px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  height: auto;
  width: auto;
  font-family: 'Syncopate' sans-serif;
  font-size: 18px;
  font-weight: bold;
  background-color: rgba(3, 15, 49, 1);
  color: white;
}


.button:hover {
  background-color: rgba(3, 15, 49, 0.8);
}

.button-disabled {
  padding: 7px 15px 7px 15px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  height: auto;
  width: auto;
  font-size: 18px;
  font-weight: bold;
  background-color: rgba(3, 15, 49, 0.3);
  color: white;
}
