.cities-index {
  height: 600px;
  color: black;
  font-family: 'Syncopate', sans-serif;
}

div.cities-index {
  background-color: rgba(255, 255, 255, 0.8);
  background-size: cover;
  background-repeat: no-repeat;
}

.cities-header-text {
  font-family: 'Slabo 27px', serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
  height: 70px;
}

.cities-index img {
  display: inline-flex;
  height: auto;
  align-self: center;
  filter: contrast(80%);
  -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
     -ms-transition: all 0.4s ease;
         transition: all 0.4s ease;
}

.cities-index img:hover {
  filter: contrast(100%);
  box-shadow: 5px 10px 5px #888888;
}

ul.cities-index {
  text-align: center;
}
.cities-index li {
  position: relative;
  left: 5%;
  padding: 10px;
  height: auto;
  width: 40%;
  float: left;

}
h3.cities-title {
  font-size: 22px;
  display: inline-block;
}
