.cities-index {
  height: 600px;
  color: black;
  font-family: 'Oswald', sans-serif;
}

div.cities-index {
  background-color: rgba(255, 255, 255, 0.8);
  background-size: cover;
  background-repeat: no-repeat;
}

.cities-header-text {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
  height: 70px;
}

.cities-index img {
  display: inline-flex;
  height: auto;
  align-self: center;
  -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
      -o-transition: all 0.8s ease;
     -ms-transition: all 0.8s ease;
         transition: all 0.8s ease;
}

ul.cities-index {
  margin: 0 auto;
}

.cities-index img:hover {
  border-radius: 80%;
}

.cities-index li {
  padding: 10px;
  text-align: center;
  height: auto;
  width: 40%;
  float: left;

}
h3.cities-title {
  font-size: 22px;
  display: inline-block;
}
