.city-show {
  background-color: rgb(245, 237, 225);
  overflow-x: hidden;
  top: 0%;
  background-color: white;
  width: 100%;
}

.city-header {
  position: absolute;
  top: -30%;
}

.city-title {
  background-color: rgba(255, 255, 255, 0.84);
  box-shadow: 0px 0px 40px 20px rgba(255, 255, 255, 0.9);
  position: relative;
  text-shadow: 1px 1px 2px black;
  font-family: 'Syncopate';
  font-size: 50px;
  font-weight: 800;
  color: rgba(3, 15, 49, 1);
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  top: 20%;
}

.city-tagline {
  margin-top: 10%;
  margin-bottom: 10%;
  font-family: 'Oswald';
  font-size: 28px;
  color: #001348;
  text-align: center;
}

.city-footer {
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
  bottom: -30%;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: space-between;
  color: #001348;
}

.city-footer > h1 {
  margin-left: 5%;
  margin-right: 5%;
}
