.dashboard-wrapper {
  background-image: image-url('basketball-1.jpg');
  background-size: cover;
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 800px;
}

.dashboard-wrapper > .city-footer {
  position: absolute;
  bottom: -5%;
}
.dashboard-wrapper span {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.plus {
  border-radius: 20px;
  border: 10px solid #9c9c9c;
  text-align: center;
  width: 260px;
  font-family: 'Russo One', sans-serif;
  color: #9c9c9c;
  font-size: 300px;
}

.plus:hover {
  cursor: pointer;
  color: white;
  border-color: white;
}

.dashboard-wrapper h1 {
  padding-bottom: 5px;
  font-size: 25px;
}

.dashboard > footer {
  margin-top: 10px;
}

#host-new {
  font-family: 'Syncopate', sans-serif;
  font-size: 38px;
}
#dashboard-form {
  margin-top: auto;
  margin-bottom: auto;
  width: 30%;
  background-color:rgba(3, 15, 49, 0.7);
}

ul::-webkit-scrollbar {
    width: 1em;
    border-radius: 5px;
}

ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px white;
    border-radius: 5px;

}

ul::-webkit-scrollbar-thumb {
  background-color: rgba(146, 146, 146, 0.4);
  border-radius: 3px;
}

#dashboard-form form :disabled:hover {
  background-color: white;
  cursor: pointer;
}

#dashboard-form input[type='submit']:disabled:hover {
  background-color: #797979;
  cursor: default;
}

#dashboard-list {
  text-align: center;
  width: 30%;
  margin-top: auto;
  margin-bottom: auto;
}

#dashboard-list > ul {
  height: auto;
  max-height: 700px;
  overflow-y: auto;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  background-color: rgba(3, 15, 49, 0.7);
}
#dashboard-list > ul > li {
  display: table;
  vertical-align: super;
  height: auto;
  padding: 5px;
}

#dashboard-form > p {
  margin: 10px;
}

#dashboard-form > h2 {
  padding-top: 10px;
  font-family: 'Syncopate', sans-serif;
}
