// Figure out how to style Modal here instead of in file





.form-wrapper {
  height: 80%;
  width: 400px;
  padding: 10px;
  margin: 0 auto;
  font-family: 'Slabo 27px', serif;
  background-color: rgba(128, 0, 0, 0.9);
  font-size: 20px;
}

  form {
    display: flex;
    flex-direction: column;
  }

.form-wrapper input {
  padding: 10px;
  margin: 20px;
  font-weight: bold;
}

.form-wrapper select {
  text-align-last: center;
  height: 40px;
  margin: 20px;
  font-size: 20px;
}

.form-wrapper input[type=text], input[type=password] {
    background-color: white;
    border-radius: 4px;
    width: 80%;
}

.form-wrapper input[type='submit'] {
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  height: auto;
  width: 100px;
  font-size: 25px;
  font-weight: bold;
  background-color: rgba(128, 0, 0, 0.7);
  color: white;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}

.form-wrapper input[type='submit']:hover {
   background-color: rgba(0, 0, 0, 0.4);
   color: black;
}


.errors {
  padding: 5px;
  color: white;
  font-weight: bolder;
}
