.form {
  align-items: center;
  text-align: center;
  border-radius: 5px;
  height: 80%;
  width: 400px;
  padding: 10px;
  margin: 0 auto;
  font-family: 'Slabo 27px', serif;
  background-color: $primary-color;
  font-size: 20px;
}

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.form input, select {
  color: black;
  padding: 10px;
  margin: 20px;
  font-weight: bold;
}


.form select {
  background-color: white;
  text-align-last: center;
  height: auto;
  margin: 20px;
  font-size: 20px;
  padding: 10px;
}

.form select.dropdown {
  border-radius: 4px;
  width: 81.5%;
}

.form input, textarea {
    background-color: white;
    border-radius: 4px;
    width: 80%;
}
.form select.dropdown:disabled {
  color: rgba(0, 0, 0, 0.38);
  background-color: #929292;
}

.form input:disabled {
  background-color: #929292;
  color: rgba(0, 0, 0, 0.38);
}

.form input[type='submit'] {
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  height: auto;
  width: auto;
  font-size: 25px;
  font-weight: bold;
  background-color: black;
  color: white;
}

.form input[type='submit']:enabled:hover {
  background-color: white;
  color: black;
}

.form input[type='submit']:disabled {
  cursor: default;
  background-color: #797979;
  color: white;
}

.form textarea {
  margin: 10px;
  padding: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: black;
  text-align: left;
  background-color: white;
  height: 150px;
  font-family: 'Slabo 27px', serif;
  font-size: 18px;
  font-weight: 400;
}

.form textarea:disabled {
  background-color: #929292;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}

span.modal-footer > h4 {
  padding-left: 10px;
  padding-right: 10px;
}

span.modal-footer > h4:hover {
  cursor: pointer;
  text-decoration: underline;
}

.errors {
  padding: 5px;
  color: white;
  font-weight: bolder;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  z-index: 2;
}
