.form {
  text-align: center;
  height: 80%;
  width: 400px;
  padding: 10px;
  margin: 0 auto;
  font-family: 'Slabo 27px', serif;
  background-color: rgba(128, 0, 0, 0.9);
  font-size: 20px;
}

  form {
    display: flex;
    flex-direction: column;
  }

.form input, select {
  color: black;
  padding: 10px;
  margin: 20px;
  font-weight: bold;
}

.form select {
  background-color: white;
  text-align-last: center;
  height: auto;
  margin: 20px;
  font-size: 20px;
}

.form input {
    background-color: white;
    border-radius: 4px;
    width: 80%;
}

.form input[type='submit'] {
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  height: auto;
  width: auto;
  font-size: 25px;
  font-weight: bold;
  background-color: rgba(110, 0, 0, 1);
  color: white;
}

.form input[type='submit']:hover {
  background-color: black;
  color: white;

}

.modal-footer {
  display: flex;
  justify-content: space-between;
}

span.modal-footer > h4 {
  padding-left: 10px;
  padding-right: 10px;
}

span.modal-footer > h4:hover {
  cursor: pointer;
  text-decoration: underline;
}

.errors {
  padding: 5px;
  color: white;
  font-weight: bolder;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  z-index: 2;
}
