body {
  margin: 0 auto;
}

.home-welcome {
  border: 2px solid black;
  height: 500px;
  display: inline;
  margin-left: auto;
}

.NavBar {
  height: 80px;
  border: 3px solid blue;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.NavBar a {
  margin: auto 0 auto 0;
  padding: 20px;
  display: block;
}
