.wrapper {
  font-family: 'Slabo 27px';
  height: auto;
  width: auto;
  color: white;
}

.home-main {
  background-image: image-url('football.jpg');
  background-size: cover;
  font-family: 'Slabo 27px';
  height: 825px;
  color: white;
  position: absolute;
  top: -3%;
  width: 100%;
}

.home-wrapper {
  background-color: rgba(12, 3, 1, 0.84);
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.home-tagline > .modal {
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  height: auto;
  width: auto;
  background-color: rgba(3, 15, 49, 0.7);
  font-size: 25px;
  font-weight: bold;
}
.home-wrapper a {
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  height: auto;
  width: auto;
  background-color: rgba(3, 15, 49, 0.7);
  font-size: 25px;
  font-weight: bold;
}

.home-wrapper a:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
.home-tagline > .modal:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.home-footer {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  height: 100px;
  display: flex;
  color: rgba(3, 15, 49, 0.9);
  align-items: center;
  justify-content: space-around;
}

[class*='col'] {
  margin: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 23px;
}
