.wrapper {
  background-image: image-url('football.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Slabo 27px';
  height: 700px;
  width: auto;
  color: white;
}

.home-wrapper {
  height: 80%;
  display: flex;
  justify-content: space-around;
}

.home-wrapper a {
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  height: auto;
  width: 350px;
  background-color: rgba(128, 0, 0, 0.7);
  font-size: 25px;
  font-weight: bold;
}

.home-wrapper a:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
