.wrapper {
  background-image: image-url('football.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Slabo 27px';
  height: auto;
  width: auto;
  color: white;
}

.home-main {
  font-family: 'Slabo 27px';
  height: 750px;
  color: white;
}

.home-wrapper {
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.home-wrapper a {
  padding: 10px;
  border-radius: 10px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
  text-align: center;
  margin: auto;
  height: auto;
  width: auto;
  background-color: rgba(128, 0, 0, 0.7);
  font-size: 25px;
  font-weight: bold;
}

.home-wrapper a:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.home-footer {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  height: 100px;
  display: flex;
  color: rgba(128, 0, 0, 0.9);
  font-family: 'Oswald', sans-serif;
  float: left;
  align-items: center;
  justify-content: space-between;
}

[class*='col'] {
  margin: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.home-prompt {
  top: 6%;
  font-size: 20px;
  position: absolute;
  z-index: 2;
}
