.hosting {
  background-image: image-url('soccer.jpg');
  background-size: cover;
}

#host-form > a {
  margin-top: 20px;
  font-size: 15px;
  border-radius: 7px;
  padding: 10px;
  background-color: rgba(3, 15, 49, 0.4);
}

#host-form > a:hover {
  padding: 10px;
  font-size: 15px;
  background-color: $primary-color;
}

#host-form {
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.78);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

#host-form h1 {
  padding: 5px;
  font-family: 'Syncopate';
  font-size: 25px;
}
