.list-items > ul {
  width: auto;
  flex-wrap: wrap;
  background-color: rgba(3, 15, 49, 1);
  display: flex;
  justify-content: center;
  color: black;
  position: relative;
  padding: 10px 5px 10px 5px;
  bottom: -25%;
  border-radius: 4px;
}

.list-items > ul > li {
  border-radius: 4px;
  background-color: #f8f8ff;
  margin: 10px;
  width: 250px;
  text-align: center;
  padding: 5px 10px 15px 10px;
}

.list-items img {
  width: 45%;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0%;
  -webkit-transition: all 500ms ease-out 0s;
  -moz-transition: all 500ms ease-out 0s;
  -o-transition: all 500ms ease-out 0s;
  transition: all 500ms ease-out 0s;
}

.list-items img:hover {
  -webkit-transition: all 500ms ease-out 0s;
  -moz-transition: all 500ms ease-out 0s;
  -o-transition: all 500ms ease-out 0s;
  transition: all 500ms ease-out 0s;
  border-radius: 100%;
}

.list-items p {
  margin-bottom: 10px;
  font-size: 18px;
}

.list-items li > h3 {
  font-family: 'Syncopate';
}
