.NavBar {
  position: relative;
  z-index: 2;
  height: 80px;
  background-color: rgba(128, 0, 0, 1);
  padding: 10px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.NavBar .nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.NavBar a {
  margin-left: 10px;
  font-family: 'Slabo 27px', serif;
  padding: 10px;
  font-size: 20px;
  color: white;
}

.NavBar a:hover {
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  color: black;
}

#nav-logo {
  height: auto;
  width: 220px;
  background-image: image-url("logo-white.png");
  background-size: contain;
  background-repeat: no-repeat;
}
