.user-show {
  background-color: #f5ede1;
  color: black;
  float: left;
}

.user-show ul {
  text-align: justify;
  margin: 15px;
  background-color: firebrick;
  width: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.user-show > li {
  border-radius: 3px;
  background-color: #f8f8ff;
  box-shadow: 3px 3px 10px;
  margin: 10px;
  width: 250px;
  text-align: justify;
  padding: 5px 10px 15px 10px;
}

.user-show > h4 {
  margin: 0;
  color: seashell;
  font-family: 'Oswald';
  font-size: 20px;

}
