.user-show {
  opacity: 90;
  width: 100%;
  background-image: image-url('field.jpg');
  background-size: cover;
  color: black;
  float: left;
}

.user-show > .list-items > h4 {
  text-align: center;
  font-size: 22px;
  color: white;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
}

.blurb {
  background: white;
  border: 13px solid $primary-color;
  border-radius: 8px;
  margin-top: 15px;
  margin-right: 10px;
  min-height: 300px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.blurb p {
  font-size: 20px;
}

.blurb h2 {
  margin: 10px;
  font-size: 28px;
}

.profile {
  border: 6px solid $primary-color;
  float: left;
  width: 315px;
  margin: 15px;
}
.profile > h1 {
  padding: 8px;
  position: relative;
  font-family: 'Syncopate';
  background-color: $primary-color;
  font-size: 20px;
  color: white;
}

.user-show > .list-items {
  padding: 15px;
}
