.user-show {
  background-color: #f5ede1;
  color: black;
  float: left;
}

.user-show > h4 {
  margin: 0px;
  margin-left: 20px;
  color: black;
  font-family: 'Oswald';
  font-size: 20px;
}

.blurb {
  margin-top: 10px;
  height: 400px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.blurb p {
  font-size: 20px;
}

.blurb h2 {
  font-size: 20px;
}

.user-show-email {
  font-style: italic;
}
.profile {
  border: 6px solid #8B1817;
  float: left;
  width: 300px;
  margin: 15px;
}
.profile > h1 {
  padding: 8px;
  position: relative;
  background-color: #8B1817;
  font-size: 20px;
  color: white;
}
