<!DOCTYPE html>
<html>
<head>
  <title>Sports With Strangers</title>
  <link rel="SHORTCUT ICON" href="https://res.cloudinary.com/dlxtsqgb3/image/upload/v1486588852/favicon_ufbsf2.png" />
  <link rel="icon" href="https://res.cloudinary.com/dlxtsqgb3/image/upload/v1486588852/favicon_ufbsf2.png" type="image/ico" />
  <meta property='og:title' content='Sports with Strangers'/>
  <meta property='og:image' content='https://res.cloudinary.com/dlxtsqgb3/image/upload/ar_1:4,c_crop,w_1000/v1486589011/swsPreview_muc7qc.png'/>
  <meta property='og:description' content='Meet other fans, join meet-ups to watch sports, host a group to watch the game'/>
  <meta property='og:url' content="https://sportswithstrangers.herokuapp.com/#/" />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
