<!DOCTYPE html>
<html>
<head>
  <title>Sports With Strangers</title>
  <link rel="SHORTCUT ICON" href="https://res.cloudinary.com/dlxtsqgb3/image/upload/v1486588852/favicon_ufbsf2.png" />
  <link rel="icon" href="https://res.cloudinary.com/dlxtsqgb3/image/upload/v1486588852/favicon_ufbsf2.png" type="image/ico" />
  <meta property="og:site_name" content="Sports With Strangers"/>
		<meta property="og:description" content="Meet new fans and watch sporting events by joining or hosting meet-ups with other users."/>
    <meta property="og:url" content="https://res.cloudinary.com/dlxtsqgb3/image/upload/v1486589011/swsPreview_muc7qc.png">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
