<!DOCTYPE html>
<html>
<head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-T3238K4');</script>
<!-- End Google Tag Manager -->
  <title>Sports With Strangers</title>
  <link rel="SHORTCUT ICON" href="https://res.cloudinary.com/dlxtsqgb3/image/upload/v1486588852/favicon_ufbsf2.png" />
  <link rel="icon" href="https://res.cloudinary.com/dlxtsqgb3/image/upload/v1486588852/favicon_ufbsf2.png" type="image/ico" />
  <meta property='og:title' content='Sports with Strangers'/>
  <meta property='og:image' content='https://res.cloudinary.com/dlxtsqgb3/image/upload/ar_1:4,c_crop,w_1000/v1486589011/swsPreview_muc7qc.png'/>
  <meta property='og:description' content='Meet other fans, join meet-ups to watch sports, host a group to watch the game'/>
  <meta property='og:url' content="https://sportswithstrangers.herokuapp.com/#/" />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T3238K4"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<%= yield %>

</body>
</html>
